<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    <title>Budget App</title>
</head>

<body>
    <h1>Budget Index Page</h1>
    <div class="container">
        <a href="/budgets/new/"><button>Add Item</button></a>
       <% let bankAccount = 0
       for (let i =0; i <allBudgets.length; i++) {
        bankAccount += parseInt(allBudgets[i].amount)
       } %>

       
       <h3> <%= bankAccount %> </h3>
       <table>
           <% for(let i=0; i < allBudgets.length; i++) { %> 
            <tr>
                <td>
                    <%=allBudgets[i].date %>
                </td>
                
                <td>
                    <a href="/budgets/<%=i%>">
                        <%=allBudgets[i].name %>
                    </a>
                </td>
                
                <td>
                    <%=allBudgets[i].amount %>
                </td>
            </tr>
            <% } %>
        </table>
        
    </div>
    <% if (bankAccount > 1000) { %> <style>body {background-color : green;}</style> <%} 
    else if (bankAccount < 0){ %> <style>body {background-color : red;} </style> <%} %>
</body>

</html>