<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget App</title>
</head>

<body>
    <h1>Budget Show Page</h1>
    <h2>
        <!-- <%=budget.name %> -->
        <%= budget.date %> <br />
        <%= budget.name %> <br />
        <%= budget.from %> <br />
        <%= budget.amount %> <br />
        <%= budget.tags %> <br />

</body>

</html>