<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Budget App</title>
</head>

<nav>
   

<body>
    <h1>Budget Show Page</h1>
    <a href="/budgets/"><button type="button">Link to Index Page</button></a>
    <a href="/new/"><button>Add Item</button></a>
</nav>
    <div class="container">
        <h5>Name: <%=budget.name %> </h5> 
        <h5>Date: <%=budget.date %> </h5>
        <h5>From: <%=budget.from %> </h5>
        <h5>Amount: <%=budget.amount %> </h5>
        <h5>Tags: <%=budget.tags %> </h5> 
    </div>
</body>

</html>