<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Budget App</title>
</head>

<nav>
   

<body>
    <h1>Budget Show Page</h1>
    <a href="/budgets/"><button type="button">Link to Index Page</button></a>
</nav>
    <div class="container">
        <h2>Name: <%=budget.name %> </h2> 
        <h2>Date: <%=budget.date %> </h2>
        <h2>From: <%=budget.from %> </h2>
        <h2>Amount: <%=budget.amount %> </h2>
        <h2>Tags: <%=budget.tags %> </h2> 
    </div>
</body>

</html>